crash-reports
downloads
ESM
local
logs
mods
resoursepacks
saves
schematics
screenshots
shaderpacks
Xaero*
.curseclient
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
realms*
servers*
usercache.json
usernamecache.json

config/jei/world